html {
  font-family: Poppins;
}

.sq {
  margin: auto;
}

.sq1 {
  position: absolute;
  width: 43rem;
  height: 50rem;
  left: 120px;
  top: 110px;
padding-left: 5rem;
  background: #b9ddc1;
  border-radius: 30px 0px 0px 30px;
}

.title {
  margin-top: 250px;

}
.title-sq1 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 30px;
  color: #003d1e;
}

.sq2 {
  position: absolute;
  width: 43rem;
  height: 50rem;
  left: 720px;
  top: 110px;
  padding: 5rem;
  background: #ffffff;
  border: 3px solid #b9ddc1;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
}

.sign-in {
  color: #003d1e;
}

.title-sign-in {
    text-align: center;
    margin-top: 8rem;
}

.input-login {
  width: 30rem;
  height: 3rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  border-style: none;
  background: #e8ece9;
}
.input-login p {
    text-align: left;
    font-family: Poppins;
}